In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("housing.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
data.dropna(inplace = True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [6]:
from sklearn.model_selection import train_test_split

X = data.drop(['median_house_value'], axis = 1)
Y = data['median_house_value']

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
X_train = X_train.reset_index(drop=True)
Y_train = Y_train.reset_index(drop=True)
train_data = X_train.join(Y_train)

In [13]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.49,37.75,48.0,2387.0,424.0,1041.0,408.0,3.7562,NEAR OCEAN,321200.0
1,-120.61,35.12,31.0,1486.0,345.0,823.0,322.0,2.6974,<1H OCEAN,165400.0
2,-117.81,34.10,19.0,1935.0,399.0,1126.0,389.0,3.8929,INLAND,144600.0
3,-118.31,34.06,36.0,369.0,147.0,145.0,136.0,0.8804,<1H OCEAN,450000.0
4,-119.79,36.76,52.0,2408.0,498.0,1361.0,465.0,2.1055,INLAND,61300.0
...,...,...,...,...,...,...,...,...,...,...
16341,-118.78,34.05,28.0,1343.0,215.0,487.0,199.0,6.8300,NEAR OCEAN,500001.0
16342,-122.49,37.78,49.0,2176.0,441.0,1040.0,448.0,4.2414,NEAR BAY,500001.0
16343,-117.20,32.80,36.0,4018.0,1067.0,1620.0,842.0,2.3599,NEAR OCEAN,168400.0
16344,-117.94,34.14,33.0,1620.0,283.0,868.0,275.0,5.4110,INLAND,219400.0
16345,-118.35,34.09,47.0,1800.0,546.0,921.0,478.0,2.8021,<1H OCEAN,280600.0